<%= render 'spree/admin/shared/product_tabs', current: 'Prices' %>

<form class="mb-3">
  <div class="input-group has-feedback">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <span
          class="glyphicon glyphicon-search form-control-feedback"
          aria-hidden="true"></span>
      </span>
    </div>
    <input class="form-control input-lg"
      placeholder="<%= Spree.t('variant_prices_search_placeholder') %>"
      type="search"
      id="variant-price-search"/>
  </div>
</form>

<%= form_tag nil, { class: 'form-horizontal' } do %>
  <div class="row" id="variant-prices">
    <%= render 'variant_prices', variant: @product.master, card_class: 'primary' %>

    <% @product.variants.each do |variant| %>
      <%= render 'variant_prices', variant: variant %>
    <% end %>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'update' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_product_path(@product), icon: 'delete' %>
  </div>
<% end %>
